<!-- dashboard.component.html -->

<app-admin-navbar></app-admin-navbar>

<div class="container-fluid">
    <div class="container">
        <h1 class="text-center mb-5 mt-3">Admin Dashboard</h1>

        <div class="row">
            <div class="col-md-6 mb-4" *ngFor="let product of products">
                <div class="card">
                    <img class="card-img-top" [src]="product.productImage.url" width="100px" height="100px" (error)="onImageError(product)" [alt]="product.productName">
                    <div class="card-body">
                        <h4 class="card-title">{{ product.productName }}</h4>
                        <p class="card-text">{{ product.productDesc }}</p>
                        <p class="card-text"><strong>Price:</strong> {{ product.productPrice | currency:'INR' }}</p>
                        <p class="card-text"><strong>Quantity:</strong> {{ product.productQuantity }}</p>
                    </div>
                    <div class="card-footer">
                        <div class="text-center">
                            <button class="btn btn-danger mx-2" (click)="onDelete(product)">Delete</button>
                            <button class="btn btn-warning mx-2" [routerLink]="['/admin/edit', product.productId]">Edit</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
